.container {
  z-index: 1;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

nav {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(50px);
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin: 20px auto;
  color: #ffffff;
  width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
  margin: 0;
  font-size: 24px;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
  margin: 0 15px;
  font-size: 18px;
}

li:hover {
  color: #f39c12;
}

.contact {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.contact:hover {
  color: #f39c12;
}

input[type="text"] {
  color: rgb(170, 168, 168);
  background: transparent;
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid #000000;
  outline: none;
  transition: border 0.3s ease;
  font-size: 16px;
}

input[type="text"]:focus {
  border: 1px solid #c58e37;
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav {
    width: 80%;
    padding: 15px;
  }

  .title {
    font-size: 20px;
  }

  li {
    font-size: 16px;
    margin: 0 10px;
  }

  .contact {
    font-size: 16px;
  }
}

@media (max-width: 358px) {
  nav {
    border-radius: 1px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }

  .title {
    font-size: 18px;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  li {
    margin: 10px 0;
  }

  .contact {
    font-size: 14px;
    margin-top: 10px;
  }
}
